body {
    font-family: monospace;
}

.row {
    display: flex;
}

td,
th,
table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

td {
    font-size: large;
}

td:nth-child(5n) {
    border-right: 2px solid rgb(69, 69, 69);
}

tr:nth-child(5n) {
    border-bottom: 2px solid rgb(69, 69, 69);
}

table.blank,
td.blank {
    /* Same as background color, to keep the spacing right */
    border: 1px solid white;
}

td.player-position {
    position: relative;
    background-color: rgb(240, 240, 240);
}

td.player-position::after {
    content: "×";
    position: absolute;
    inset: -4px;
    border: 4px solid red;
    z-index: 1;
    pointer-events: none;

    /* Center the "×" */
    display: flex;
    align-items: center;
    justify-content: center;
}

td.player-position:not(.crossed)::after {
    content: "";
}

td.crossed::after {
    content: "×";
}

td.clue-crossed {
    position: relative;
    color: grey;
}

td.clue-crossed::before {
    position: absolute;
    content: "";
    left: 15%;
    top: 50%;
    right: 15%;
    border-top: 1px solid black !important;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Focused row/column, but not the player position */
td.focused {
    background-color: rgb(240, 240, 240);
}

td.filled {
    background-color: rgb(69, 69, 69);
    box-shadow: inset 0 0 0 2px white;
}

table.line-number,
tr.line-number,
td.line-number {
    border: 1px solid white;
}

td.line-number {
    font-size: medium;
    background-color: white;
    color: darkgreen;
}

.top-align {
    vertical-align: top;
    padding-top: 2px;
}

.keyboard-buffer-text {
    position: absolute;
    white-space: nowrap;
    font-size: small;
    color: darkgreen;
}